@page
@model Presentation.Pages.Artworks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Artwork[0].Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artwork[0].Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artwork[0].Url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artwork[0].Likes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artwork[0].Fee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artwork[0].Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artwork[0].Account)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Artwork)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Likes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>