@page
@model Presentation.Pages.CreateArtworkModel
@{
}
@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Create";
}

@if (TempData["AnnounceMessage"] != null)
{
    <div class="alert alert-primary" role="alert">
        @TempData["AnnounceMessage"]
    </div>
}

@*<h1>Create</h1>

<h4>Artwork</h4>*@
<hr/>

<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title text-center">Create</h1>
                <hr/>
                <form method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Artwork.AccountId" class="control-label">Account ID</label>
                        <input asp-for="Artwork.AccountId" value="@Model.Accounts.Id" class="form-control" readonly/>
                        <span asp-validation-for="Artwork.AccountId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Artwork.Title" class="control-label">Title</label>
                        <input asp-for="Artwork.Title" class="form-control"/>
                        <span asp-validation-for="Artwork.Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Artwork.Description" class="control-label">Description</label>
                        <input asp-for="Artwork.Description" class="form-control"/>
                        <span asp-validation-for="Artwork.Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Artwork.Image" class="control-label">Image</label>
                        <input type="file" asp-for="Artwork.Image" class="form-control" accept=".jpg,.jpeg,.png,.bmp,.gif,.tiff,.webp,.heic,.pdf"/>
                        <span asp-validation-for="Artwork.Image" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Artwork.Fee" class="control-label">Fee</label>
                        <input asp-for="Artwork.Fee" class="form-control"/>
                        <span asp-validation-for="Artwork.Fee" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Artwork.ArtworkCategories" class="form-label">Category IDs</label>
                        <a asp-page="/CreateCategory" class="btn btn-link">Create New Category</a>
                        <select asp-for="Artwork.ArtworkCategories" class="form-control">
                            @foreach (var item in Model.Categories)
                            {
                                <option value="@item.Id">@item.Title</option>
                            }
                        </select>
                        <span asp-validation-for="Artwork.ArtworkCategories" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Artwork.ArtworkTags" class="form-label">Tag IDs</label>
                        <a asp-page="/CreateTag" class="btn btn-link">Create New Tag</a>
                        <select asp-for="Artwork.ArtworkTags" class="form-control" multiple>
                            @foreach (var item in Model.Tags)
                            {
                                <option value="@item.Id">@item.Title</option>
                            }
                        </select>
                        <span asp-validation-for="Artwork.ArtworkTags" class="text-danger"></span>


                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary"/>
                    </div>
                </form>
                <div class="text-center">
                    <a asp-page="ProfilePage" class="btn btn-link">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>