@page
@model Presentation.Pages.CustomerPageModel
@{
    Layout = "_Layout";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <p>
                <a asp-page="/CreateArtwork">Create New</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Title
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Image
                        </th>
                        <th>
                            Likes
                        </th>
                        <th>
                            Fee
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Artwork)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                <div class="watermark-container">
                                    <img src="@item.Url" alt="@item.Title" style="max-width: 100px;" class="watermarked-image" />
                                    <div class="watermark">ARTOln</div>
                                </div>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Likes)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fee)
                            </td>
                            <td>
                                <a asp-page="./UpdateArtwork" asp-route-id="@item.Id">Edit</a> |
                                <a asp-page="./ArtworkDetails" asp-route-id="@item.Id">Details</a> |
                                <a asp-page="./DeleteArtwork" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var watermarkedImages = document.querySelectorAll(".watermarked-image");
        watermarkedImages.forEach(function (image) {
            image.addEventListener("contextmenu", function (event) {
                event.preventDefault();
                var watermarkText = "ARTOln"; 
                var canvas = document.createElement("canvas");
                var context = canvas.getContext("2d");
                var img = new Image();
                img.crossOrigin = "anonymous"; 
                img.src = this.src;
                img.onload = function () {
                    canvas.width = img.width;
                    canvas.height = img.height;
                    context.drawImage(img, 0, 0);
                    context.font = "bold 20px Arial";
                    context.fillStyle = "rgba(255, 255, 255, 0.5)";
                    context.fillText(watermarkText, img.width - 250, img.height - 20);
                    var link = document.createElement("a");
                    link.download = "watermarked_image.png";
                    link.href = canvas.toDataURL("image/png");
                    link.click();
                };
            });
        });
    });
</script>
