@page
@model Presentation.Pages.DeleteArtworkModel
@{
}
@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Details";
}
<head>
    <link href="~/css/ArtworkDetails.css" rel="stylesheet"/>
</head>
<div class="container content-area">
    @if (TempData["AnnounceMessage"] != null)
    {
        <div class="alert alert-primary" role="alert">
            @TempData["AnnounceMessage"]
        </div>
    }
    <h1>Details</h1>

    <div class="row">
        <div class="col-md-4">
            <div class="watermark-container">
                <img src="@Model.Artwork.Url" class="img-fluid watermarked-image" alt="Artwork Image">
                <div class="watermark">ARTOln</div>
            </div>
        </div>
        <div class="col-md-8">
            <h4>Artwork</h4>
            <hr/>
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Artwork.Title)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Artwork.Title)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Artwork.Description)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Artwork.Description)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Artwork.Url)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Artwork.Url)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Artwork.Likes)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Artwork.Likes)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Artwork.Fee)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Artwork.Fee)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Artwork.Status)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Artwork.Status)
                </dd>
                <dt class="col-sm-3">
                    Created by
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Account.FullName)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Artwork.Likes)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Likes.Count)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Categories)
                </dt>
                <dd class="col-sm-9">
                    @foreach (var category in Model.Categories)
                    {
                        <div class="category-box">
                            @category.Title
                        </div>
                    }
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Tags)
                </dt>
                <dd class="col-sm-9">
                    @foreach (var tag in Model.Tags)
                    {
                        <div class="tag-box">
                            @tag.Title
                        </div>
                    }
                </dd>
            </dl>
        </div>
    </div>
    <div>
        <form method="post">
            <input type="hidden" asp-for="Artwork.Id"/>
            <input type="submit" value="Disable" class="btn btn-danger"/> |
            <a asp-page="/HomePage">Back to List</a>
        </form>
        <a asp-page="/HomePage" class="btn btn-secondary">Back to List</a>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var watermarkedImages = document.querySelectorAll(".watermarked-image");
        watermarkedImages.forEach(function (image) {
            image.addEventListener("contextmenu", function (event) {
                event.preventDefault();
                var watermarkText = "ARTOln";
                var canvas = document.createElement("canvas");
                var context = canvas.getContext("2d");
                var img = new Image();
                img.crossOrigin = "anonymous"; 
                img.src = this.src;
                img.onload = function () {
                    canvas.width = img.width;
                    canvas.height = img.height;
                    context.drawImage(img, 0, 0);
                    context.font = "bold 20px Arial";
                    context.fillStyle = "rgba(255, 255, 255, 0.5)";
                    context.fillText(watermarkText, img.width - 250, img.height - 20);
                    var link = document.createElement("a");
                    link.download = "watermarked_image.png";
                    link.href = canvas.toDataURL("image/png");
                    link.click();
                };
            });
        });
    });
</script>
