@page
@model Presentation.Pages.DetailPageModel
@{
}
@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "DetaiPage";
}

<link href="css/DetailStyle.css" rel="stylesheet"/>
<main class="detail-content">
    <div class="container-detail">
        <div class="cover">
            <img src="@Html.DisplayFor(modle => modle.ArtworkRespone.Url)" alt="">
        </div>
        <div class="content">
            <div class="nav">
                <span class="logo"></span>
                <span>
                    <i class="fab fa-sistrix" style="font-size:24px"></i>
                </span>
            </div>
            <div class="content-body">
                <div class="pages">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="black-label">
                    <span class="title">
                        <b>@Html.DisplayFor(modle => modle.ArtworkRespone.Title)</b>
                    </span>
                    <p>
                        @Html.DisplayFor(modle => modle.ArtworkRespone.Name)
                    </p>
                    <p>
                        @Html.DisplayFor(modle => modle.ArtworkRespone.Description)
                    </p>

                    <div class="add-to-card" style="padding: 5px 0; width: 426px;display: flex;justify-content: space-evenly;">
                        <a href="#"> Download for $<span>@Html.DisplayFor(modle => modle.ArtworkRespone.Fee)</span></a>
                        <a href="">Add to card</a>
                    </div>

                    <div class="comment-content" style="padding-bottom: 10px;">
                        <div class="">
                            <span>10</span>
                            <span>comments</span>
                        </div>

                        <div style="display: table-caption; margin: 10px 0; ">

                            <textarea style="width: 426px; height: 65px; padding: 10px;" placeholder="Add comment"></textarea>
                            <button class="btn btn-primary" type="button" style="padding: 5px;cursor: pointer;">Comment</button>
                        </div>

                        <div>
                            <div>
                                <span style="font-size: larger;">Corey oates</span>
                                <span style="font-size: small;">12/11/2023</span>
                            </div>
                            <p style="border: 1px solid #ccc;background-color: white;padding: 10px; margin-top: 0px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>

                        <div>
                            <div>
                                <span style="font-size: larger;">Corey oates</span>
                                <span style="font-size: small;">12/11/2023</span>
                            </div>
                            <p style="border: 1px solid #ccc;background-color: white;padding: 10px;margin-top: 0px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>


                </div>


            </div>

        </div>
    </div>
</main>