@page
@model Presentation.Pages.DetailPageModel
@{
}
@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "DetaiPage";
}
<script>
    document.addEventListener('contextmenu', function (e) {
      
        var target = e.target;

        
        if (target.tagName.toLowerCase() === 'img') {
            
            var watermark = document.createElement('div');
            watermark.classList.add('watermark');
            watermark.innerText = 'ARTOln';

            document.body.appendChild(watermark);

          
            watermark.style.position = 'fixed';
            watermark.style.top = e.clientY + 'px';
            watermark.style.left = e.clientX + 'px';

            
            e.preventDefault();
        }
    });
</script>
<link href="css/DetailStyle.css" rel="stylesheet"/>
<style>
    .like-content {
        display: flex;
        align-items: center;
    }

        .like-content a {
            text-decoration: none;
            color: wheat; /* Màu mặc định */
        }

    .liked a {
        color: #000; /* Màu đen */
    }

    .container-detail {
        width: 90%;
        grid-template-columns: 60% 40%;
    }

    .pages {
        width: 10%;
    }
</style>
<main class="detail-content">
    <div class="container-detail">
        <div class="cover watermark-container">
            <div class="watermark">ARTOln</div>
            <img src="@Html.DisplayFor(modle => modle.ArtworkRespone.Url)" alt="">
        </div>
        <div class="content">
            <div class="content-body">
                <div class="pages">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="black-label">
                    <span style="margin-left:-4px;" class="title">
                        <b>@Html.DisplayFor(modle => modle.ArtworkRespone.Title)</b>
                    </span>
                    <p >
                        @Html.DisplayFor(modle => modle.ArtworkRespone.Name)
                    </p>
                    <p>
                        @Html.DisplayFor(modle => modle.ArtworkRespone.Description)
                    </p>

                    @if(Model.Username != null && Model.Username == Model.ArtworkRespone.Name){
                    <div class="add-to-card" style="padding: 5px 0; width: 426px;display: flex;justify-content: space-evenly;">
                        <form method="post" asp-page-handler="Payment">
                            <input type="hidden" name="Id" value="@Model.ArtworkRespone.Id"/>
                            <button type="submit">Download for $<span>@Html.DisplayFor(modle => modle.ArtworkRespone.Fee)</span></button>
                        </form>
                        <form method="post" asp-page-handler="Download">
                            <input type="hidden" name="Id" value="@Model.ArtworkRespone.Id"/>
                            <button type="submit">Download <strong>free</strong></button>
                        </form>

                        <form method="post" asp-page-handler="AddToCart">
                            <input type="hidden" name="Id" value="@Model.ArtworkRespone.Id"/>
                            <button type="submit">
                                <i class="fas fa-shopping-cart"></i> <span>Add to Cart</span>
                            </button>
                        </form>
                    </div>
                    }
                    
                    <div class="like-content">
                        <form method="post" asp-page-handler="AddLike">
                            <input type="hidden" asp-for="ArtworkRespone.Id"/>
                            <button style="border:none;" type="submit">
                                <i class="fa fa-solid fa-thumbs-up"></i>
                            </button>

                        </form>
                        <span>@Html.DisplayFor(modle => modle.ArtworkRespone.Likes)</span>
                    </div>
                    <div class="comment-content" style="padding-bottom: 10px;">
                        <div class="">
                            <span>@Html.DisplayFor(modle => modle.ArtworkRespone.Comments.Count)</span>
                            <span>comments</span>
                        </div>

                        <div style="display: table-caption; margin: 10px 0; ">

                            <form method="post" asp-page-handler="CreateComment">
                                <!-- Trường ẩn để chứa AccountId -->
                                <input type="hidden" asp-for="ArtworkRespone.Id"/>

                                <!-- Trường ẩn để chứa ArtworkId -->
                                <input type="hidden" name="commentCreation.ArtworkId"/>

                                <textarea name="commentCreation.Content" style="width: 426px; height: 65px; padding: 10px;" placeholder="Add comment"></textarea>
                                <button class="btn btn-primary" type="submit" style="padding: 5px; cursor: pointer;">Comment</button>
                            </form>

                        </div>

                        @foreach (var comment in Model.ArtworkRespone.Comments)
                        {
                            <div>
                                <div>
                                    <span style="font-size: larger;">@comment.Name</span>
                                    <span style="font-size: small;">@comment.CreateDate</span>
                                </div>
                                <p style="border: 1px solid #ccc;background-color: white;padding: 10px; margin-top: 0px;">@comment.Content</p>
                            </div>
                        }
                    </div>

                </div>


            </div>

        </div>
    </div>
</main>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const likeBtn = document.getElementById('likeBtn');

        likeBtn.addEventListener('click', function (event) {
            event.preventDefault(); // Ngăn chặn hành động mặc định của thẻ a

            // Toggle lớp liked
            likeBtn.parentElement.classList.toggle('liked');
        });
    });
</script>