@page
@model Presentation.Pages.Shared.EditProfilePageModel

@{
    ViewData["Title"] = "EditProfilePage";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<hr/>
<div class="row justify-content-center mt-5">
    <div style="margin-top:50px;margin-bottom:50px;" class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title text-center">Edit Profile</h1>
                <hr/>
                <form method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input type="hidden" asp-for="UpdateAccount.Id" value="@Model.Account.Id" />
                    </div>
                    @*<div class="form-group">
                        <label asp-for="Account.Email" class="control-label"></label>
                        <input asp-for="Account.Email" readonly class="form-control" value="@Model.Account.Email" />
                        <span asp-validation-for="Account.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Account.Password" class="control-label"></label>
                        <input type="password" asp-for="Account.Password" class="form-control" readonly value="@Model.Account.Password" />
                        <span asp-validation-for="Account.Password" class="text-danger"></span>
                    </div>*@
                    <div class="form-group">
                        <label asp-for="UpdateAccount.Description" class="control-label"></label>
                        <input asp-for="UpdateAccount.Description" class="form-control" placeholder="@Model.Account.Description"/>
                        <span asp-validation-for="UpdateAccount.Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UpdateAccount.FullName" class="control-label"></label>
                        <input asp-for="UpdateAccount.FullName" class="form-control" minlength="3" maxlength="30" placeholder="@Model.Account.FullName"/>
                        <span asp-validation-for="UpdateAccount.FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UpdateAccount.Avatar" class="control-label">Image</label>
                        <input type="file" asp-for="UpdateAccount.Avatar" class="form-control" accept=".jpg,.jpeg,.png,.bmp,.gif,.tiff,.webp,.heic,.pdf"/>
                        <span asp-validation-for="UpdateAccount.Avatar" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary"/>
                    </div>
                </form>
                <div class="text-center">
                    <a asp-page="ProfilePage" class="btn btn-link">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
<hr/>