@page
@model Presentation.Pages.ArtworkTags.DetailsModel

@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ArtworkTag</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArtworkTag.Artwork)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArtworkTag.Artwork.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArtworkTag.Tag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArtworkTag.Tag.Id)
        </dd>
    </dl>
</div>

<div class="text-center">
    <a asp-page="./Edit" asp-route-id="@Model.ArtworkTag?.Id" class="btn btn-primary">Edit</a> |
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div>
