@page
@model Presentation.Pages.ArtworkCategories.EditModel

@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Edit";
}

@if (TempData["AnnounceMessage"] != null)
{
    <div class="alert alert-primary" role="alert">
        @TempData["AnnounceMessage"]
    </div>
}

<h1>Edit</h1>

<h4>ArtworkCategory</h4>
<hr/>

<div class="row justify-content-center">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ArtworkCategory.Id"/>

            <div class="mb-3">
                <label asp-for="ArtworkCategory.ArtworkId" class="form-label"></label>
                <select asp-for="ArtworkCategory.ArtworkId" class="form-control">
                    @foreach (var item in Model.Artworks)
                    {
                        <option value="@item.Id">@item.Id</option>
                    }
                </select>
                <span asp-validation-for="ArtworkCategory.ArtworkId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ArtworkCategory.CategoryId" class="form-label"></label>
                <select asp-for="ArtworkCategory.CategoryId" class="form-control">
                    @foreach (var item in Model.Categories)
                    {
                        <option value="@item.Id">@item.Id</option>
                    }
                </select>
                <span asp-validation-for="ArtworkCategory.CategoryId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div class="text-center mt-3">
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div>